@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

@font-face {
    font-family: 'BrokgauzEfron';
    src: url('./fonts/BrokgauzEfron.ttf');
}
@font-face {
    font-family: 'Herold';
    src: url('./fonts/heroldcondcyhq.otf');
}
@font-face {
    font-family: "Konrad";
    src: url('./fonts/Konrad-Modern.ttf');
}
.kurale-regular {
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
}
    

:root{
    --paper-color: #eee8d8;
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'BrokgauzEfron';
}

body{
    background: var(--paper-color);
    object-fit: cover;
    object-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.paper{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    padding-inline: 3rem;
}

.header{
    text-align: center;
    margin: 0 3rem 1rem 3rem;
    padding: 0.2rem;
}

.caption{
    display: flex;
    justify-content: space-between;
}

.title{
    justify-content: center;
    border: 4px solid black;
    border-radius: 0.25rem;
    background: var(--paper-color);
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 
        1px 0px 0 white,
        0 1px 0 white,
        2px 1px 1px BLACK;
}

.paper_block{
    border: 3px solid;
    text-align: justify;
}

.text_block{
    font-size: 1.25rem;
    background-color: var(--paper-color);
    display: block;
    margin: 0;
    padding: 1rem 1.5rem;
}

.hatch{
    display: flex;
    width: fit-content;
    grid-row: 1 / 3;
    box-shadow: -6px 6px 0 0 var(--paper-color), -10px 10px 0 0 black; 
    margin-inline: auto;
}

.hatch img{
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.about{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border: 0;
    position: relative;
    padding-bottom: 1.5rem;
}

.about::before,
.about::after
{
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid black;
}

.about::before{
    translate: 3px 3px;
}
.about::after{
    translate: -3px -3px;
}

.about_header{
    margin-block: 0;
    text-align: center;
    font-family: 'Herold';
    font-weight: 100;
    font-size: 3rem;

}

.hand-writed-border{
    border-radius: 255px 7px 225px 7px/7px 225px 7px 255px;
}

.spiders{
    font-size: 1.5rem;
}
.spiders_header{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    font-size: 2rem;
}

.updates{   
    grid-row: 2;
}
.large-text{
    font-family: 'Konrad';
    font-weight: bold;
    font-size: 2rem;
    float: left;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.rhombus-border{
    border-image-source: url(./img/rhombus_border.png);
    border-image-slice: 30;
    border-image-width: 3;
    border-image-outset: 0;
    border-image-repeat: round;
}
.map-section{
    margin-block: 2rem;
}
.map-section_title{
    text-align: center;
}

.map-section_text{
    margin-bottom: 1rem;
}

.map-section_text h5{
    margin-top: 0;
    font-size: 1.25rem;
}

.counters{
    min-width: 300px;
    padding-top: 1rem;
    border-image-source: url('./img/rect_border.png');
    border-image-slice: 97 85 100 85;
    border-image-width: 20;
    border-image-outset: 25px;
    border-image-repeat: stretch;
    text-align: center;
}

#map{
    height: 80vh;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 1px 6px black;
}


.popup{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup_image{
    width: 240px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 5px gray;
}

.btn{
    padding: 8px 16px;
    border-radius: 0.25rem;
    border: 0;
    font: inherit;
    background-color: whitesmoke;
    text-decoration: none;
    text-align: center;
    color: black;
}
.btn:hover {
    background: lightgrey;
}


@media (max-width: 768px) {
    .paper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}