@font-face {
    font-family: 'BrokgauzEfron';
    src: url('./fonts/BrokgauzEfron.ttf');
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'BrokgauzEfron';
}

body{
    background-image: url('./img/old_paper_1.jpg');
    object-fit: cover;
    object-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

.title{
    text-align: center;
}

#map{
    height: 500px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 1px 6px black;
}

.popup{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup_image{
    width: 240px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 5px gray;
}

.btn{
    padding: 8px 16px;
    border-radius: 0.25rem;
    border: 0;
    font: inherit;
    background-color: whitesmoke;
    text-decoration: none;
    text-align: center;
    color: black;
}
.btn:hover {
    background: lightgrey;
}